<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mon site</title>
    <link rel="stylesheet" href="{{ global.request.basepath }}/assets/main.css">
</head>
<body>
    <header>
       <!-- global.request.basepath }}/assets/main.css : chemin absolu vers le fichier
       Se souvenir des explications montrant les pbs qui se créent au niveau de l'url
       -->
        <h1>Coucou header {{ values.key1 }}</h1>
    </header>