<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
   <!-- alt+n ~ tilde -->
   
    {% for key, item in values %}
        <div>{{ key ~ ' = ' ~ item }}</div>
    {% endfor %}
    
</body>
</html>